body{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(206, 206, 185, 0.829);
    margin: 0;
}
.global{
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 6px;
    /*width: 60%;
    margin: 20px auto*/
}
.titrep1{
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid #fff;
    padding: 30px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}
.contenus{
    position: relative;
    display: flex;
    flex-wrap:wrap;
    background: blue;
    border-radius: 6px;
   width:100%;
}
.contenu1{
    background-color: rgba(4, 199, 134, 0.842);
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-radius: 1px;
     border-bottom-left-radius: 5px;
   /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}
.contenu2{
    background-color: aqua;
    width: 50%;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
    color: #fff;
    border-bottom-right-radius: 5px;
}
.titre1{
    font-size: 1.5em;
}
.p1{
    color: rgb(147, 236, 14);
}
.sp{
    font-size: 2em;
}
.m{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.5em;
}
.btcontenu1{
    background-color: rgb(147, 236, 14);
    padding-left:85px;
    padding-right: 85px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 0px;
    border-radius: 5px;
}
.text{
    line-height: 20px;
}
.paragraphe1{
    line-height: 20px;
}
@media screen and (max-width: 588px) {
    .contenus {
        display: block;
        align-items: center;
        gap: 100px;
        justify-content: center;
    }
    .contenu1,
    .contenu2 {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .global{
        margin:10px 10px;
    }
 .contenu2-P{
    margin-right: 44%;
  }
  .contenu1P{
     margin-right:40%;
  }
  .btcontenu1{
   padding: 10px 120px;
  }
  .contenu1{
     height:200px;
  }
}